<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>

  </head>

  <body>

    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">BlogApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <% if user_signed_in? %>
                <li class="nav-item"><span class="nav-link"><%= current_user.email %></span></li>
                <li class="nav-item">
                    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link', data: { confirm: 'Are you sure you want to log out?' } %>
                </li>
                <% else %>
                <li class="nav-item"><a class="nav-link" href="<%= new_user_session_path %>">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="<%= new_user_registration_path %>">Sign up</a></li>
                <% end %>
            </ul>
            </div>
        </div>
    </nav>


    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                
                <!-- Nested row for non-featured blog posts-->
                <div class="row">
                    <%= yield %>
                </div>
                
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4 mt-5">
            <%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>

                <!-- Search widget-->
                <div class="card mb-4 mt-2">
                    <div class="card-header">Search</div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                            <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                        </div>
                    </div>
                </div>
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Categories</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">Web Design</a></li>
                                    <li><a href="#!">HTML</a></li>
                                    <li><a href="#!">Freebies</a></li>
                                    <li><a href="#!">Lorem</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">JavaScript</a></li>
                                    <li><a href="#!">CSS</a></li>
                                    <li><a href="#!">Tutorials</a></li>
                                    <li><a href="#!">Ipsum</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Side Widget</div>
                    <div class="card-body">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Made with RoR and &#9829; by <a href="https://lexisvar.me" target="_blank"> lexisvar </a> - 2024</p></div>
    </footer>

        
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </body>
</html>
